@model IEnumerable<BibliotecaWeb.Models.Genero>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.assunto)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.assunto)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.generoId"><i class="fa-solid fa-pen fa-2x" style="margin-right: 10px; font-size: 1.5em;"></i></a>
                    <a asp-action="Details" asp-route-id="@item.generoId"><i class="fa-solid fa-bars fa-2x" style="margin-right: 10px; font-size: 1.5em;"></i></a>
                    <a asp-action="Delete" asp-route-id="@item.generoId"><i class="fa-solid fa-xmark fa-2x" style="color: #f40101; font-size: 1.5em;"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
